/* Technologies */

.project-card {
  padding: 2em 0 2em 0;
  justify-content: center;
  max-width: 90vw;
}

.separator {
  width: 50%;
  border-top: 3px solid #004f9e;
}

.project-title {
  text-transform: uppercase;
  color: black;
  margin-bottom: 2em;
}

.card-image {
  padding: 1em 0em 1em 1em;
  display: flex;
  justify-content: center;
}

.image-container {
  border: 3px solid rgb(15, 15, 15);
  max-width: 40em;
  min-height: 10em;
  object-fit: cover;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.box-link {
  width: 100%;
  height: 100%;
}

.box-link-span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.card-info-wrapper {
  display: flex;
  justify-content: center;
  padding: 1em 0em 1em 0em;
}
.card-info {
  border: 3px solid rgb(15, 15, 15);
  width: 100%;
  height: 100%;
  min-height: 15em;
  max-width: 40em;
  position: relative;
  background: rgb(20, 20, 20);
}

.card-title {
  padding: 0.2em;
  color: #0064c8;
  font-size: calc(1rem + 1vw);
}

.card-subtitle {
  width: 100%;
  height: 100%;
  padding: 0 2em 0 2em;
  text-align: left;
  color: white;
}

.card-subtitle p {
  font-size: calc(0.8rem + 0.2vw);
}

.card-links {
  font-size: calc(0.8rem + 0.2vw);
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.card-links i {
  color: white;
  margin-left: 0.5em;
  transition: 0.1s all ease-in;
}

.card-links i:hover {
  transform: scale(1.2);
}

.triangle-container {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.triangle-br {
  border-width: calc(6rem + 1vh) calc(15rem + 2vw) 0 0;
  border-color: transparent #0064c8 transparent transparent;
  right: 0;
  bottom: 0;
}

.tech-stack {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.tech-title {
  color: black;
}

.tech-list {
  padding: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.tech-list li {
  display: flex;
  background: rgb(15, 15, 15);
  color: #0064c8;
  border-top: 1px solid #070707;
  border-right: 1px solid #070707;
  border-left: 1px solid #070707;
  border-bottom: 3px solid #070707;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 0.2em 0.5em 0.2em 0.5em;
  font-size: calc(1rem + 0.2vw);
  margin: 0.2em;
  justify-content: center;
  align-items: center;
}
