//Main Colors
$primaryBackground: rgb(43, 43, 56);
$secondaryBackground: rgb(204, 204, 204);
$accentColor: #0064c8;

//Fonts
$headerFont: "Lora", serif;
$headerColor: white;
$subheaderColor: #1c91ff;
$paragraphColor: white;

//Inputs
$placeholderColor: $primaryBackground;
