.NavbarItems {
  /*disables text selection */
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  transition: 1s;
  padding: 0.5em;
  display: flex;
  align-items: center;
}

.NavbarItems a {
  padding: 2em;
  font-size: 1rem;
  text-decoration: none;
  background: linear-gradient(to right, #fff 50%, #0064c8 50%);
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 200ms ease-out;
}

.NavbarItems a:hover {
  background-position: -100%;
}

.logo {
  text-decoration: none;
  width: 30%;
}

.logo a {
  font-size: 2rem;
}

.nav-menu {
  margin-right: 5rem;
  width: 100%;
  position: relative;
  display: grid;
  text-align: center;
  justify-content: end;
  grid-template-columns: repeat(5, auto);
  list-style: none;
}
