.navbar {
  z-index: 10;
  transition: 1s;
}

.nav-item {
  padding: 1em 0 1em 0;
}

.NavbarItems {
  /*disables text selection */
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  width: 100%;
  background: rgb(20, 20, 20);
}

.NavbarItems a {
  padding: 0 2em 0 2em;
  font-size: 1rem;
  text-decoration: none !important;
  background: linear-gradient(to right, #fff 50%, #0064c8 50%);
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 200ms ease-out;
}

.NavbarItems a:hover {
  background-position: -100%;
}

a.navbar-brand {
  font-size: 1.2rem;
}

.logo a {
  padding: 0;
}
