* {
  font-family: Montserrat, sans-serif;
}

html {
  background-size: cover;
}

.App {
  position: relative;
}

.Content {
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
