* {
  font-family: Montserrat, sans-serif;
}

html {
  background-size: cover;
}

.App {
  position: relative;
}

.Navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.Content {
  position: relative;
  z-index: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.navbar {
  height: 7.5vh;
}
